:root {
    --nuatral: #004643;
    --base: #fffffe;
    --nuatral-focus: #001e1d;
    --btn-col:#f9bc60;
    --accent: #abd1c6;
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family:"Noto serif", sans-serif;
    text-align: center;
    background-color: var(--nuatral);

}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family:"poppins" ,sans-serif ;
}

h1 {
    font-size: 50px;
}

#nav-bar {

    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--nuatral) ;
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid var(--nuatral-focus) ;
}

.nav-links {
    display: flex;
    list-style: none;
    font-family: "poppins" ,serif;
}

.nav-links a {

    text-decoration: none;
    padding: 0 10px;
    color:var(--base) ;

}


.nav-links a:hover {
        text-decoration: underline;
    
}


section {
    min-height: 100vh;
    padding:  70px 0;

}



#welcome-section {
    background-color: var(--nuatral);
    color: var(--base);
    display: flex;
    flex-direction: column;
    
}

#welcome-section h1 {
    margin-top:  30vh;

}
#welcome-section p {
    color:var(--btn-col) ;
    font-size: 25px;
    margin:25px 0;
    font-style: italic;
    
}

#projects {
    background-color:#abd1c6 ;
    color: var(--nuatral);
}

#projects h1{
    border-bottom:  5px solid var(--nuatral);
    width: fit-content;
    margin: auto;

}

#projects .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px ,1fr));
    gap: 30px;
    padding: 20px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
    
}

#projects .project-tile {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--nuatral);
    text-decoration: none;
    color: var(--accent);
    border-radius:  5px;
    box-shadow: 8px 8px 10px 5px rgb(0, 0, 0);
}


#projects .project-tile img {
    height:  100%;
    width:  100%;
    object-fit: cover;
}


#projects .project-tile p {
    font-size: 25px;
    padding: 10px;

}

#projects .project-tile span {
    opacity: 0%;
    padding: 0 5px;
}

#projects .project-tile:hover p {
    opacity: 100%;
    color: var(--btn-col) ;
    transition: opacity 0.25s ease-in;
}


.Show-all {
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 15px;
    background-color: var(--nuatral);
    color: var(--accent);
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer ;
    transition: background-color 0.2s ease-in;
    

}

.Show-all:hover {
    background-color: var(--nuatral-focus);
    color: var(--btn-col);
}

#contact {
    background-color: var(--nuatral);
    color: var(--base);
}

#contact h1 {
    margin: 0px ;
}

#contact .coffee-question {
    color:var(--btn-col) ;
    font-size: 25px;
    font-style: italic;

}

#contact .social-medias {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
}


#contact .social-media {
    text-decoration: none;
    color: var(--base);
    transition: transform 0.2s ease-in;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 22px;
}
#contact .social-media:hover {
    transform: translateY(20px);
}

footer {
    border-top: 3px solid var(--btn-col);
    color: var(--base);
    font-size: 25px;
    padding: 30px;
}